<!DOCTYPE html>
<html>
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <title>Registration</title>
     <meta name="viewport" content='width=device-width, initial-scale=1'>
     <link rel='stylesheet' type="text/css" media="screen" href="main.css">
     <script src="main.js"></script>
 </head>
 <body style="margin-left:45%;">
     <form action="register" method="POST">
           {%csrf_token%}
           <h1>Registration Form</h1>
           <input type="text" name="first_name" placeholder="First Name"><br><br>
           <input type="text" name="last_name" placeholder="Last Name"><br><br>
           <input type="text" name="username" placeholder="User name"><br><br>
           <input type="email" name="email" placeholder="email"><br><br>
           <input type="password" name="password1" placeholder="Password"><br><br>
           <input type="password" name="password2" placeholder="Confirm password"><br><br>
           <button type="submit">Register</button>
     </form>
     <div>
         {% for message in messages%}
         <h1>{{message}}</h1>
         {%endfor%}
     </div>
 </body>
</html>